@font-face{
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../static/fonts/San-Francisco-Pro-Fonts/SF-Pro-Display-Regular.otf) format('truetype');
}
